#logodesc, th{
background: #1b5e20!important;
}

#logodesc>a:first-child img{
display: none!important;
}

#logodesc>a:first-child:before {
  content: "BMHD";
    font-size: 46px;
  font-family: "Verdana";
  color: rgb(224, 240, 224);
  font-weight: bold;
  vertical-align: sub;
  text-align: left;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  position: absolute;
  top: 7px;
  left: 17px;
  background: -webkit-linear-gradient(#e0f0e0, #ffffff);
	-webkit-background-clip: text;
}
#logodesc h2{
 left: 175px!important; 
}
#logodesc h3{
 padding-top: 5px!important; 
}

#overallforum{
max-width: 1400px;
} /* */
#recent_topics tr:hover td.row1{
background: #cbd6cb;
}